<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.acti_time.script.VerifyVersion"/>
      <class name="com.acti_time.script.VerifyHomePage"/>
      <class name="com.acti_time.script.VerifyValidLoginPage"/>
      <class name="com.acti_time.script.VerifyReports"/>
      <class name="com.acti_time.script.VerifyVersionE"/>
      <class name="com.acti_time.script.VerifyCheckBox"/>
      <class name="com.acti_time.script.VerifyLoginPageTitle"/>
      <class name="com.acti_time.script.VerifyTasks"/>
      <class name="com.acti_time.script.VerifyInvalidLoginPage"/>
      <class name="com.acti_time.script.VerifyInvalidLoginPageE"/>
      <class name="com.acti_time.script.VerifyValidLoginPageE"/>
      <class name="com.acti_time.script.VerifyHomePageTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
